! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc342b
*.color9:       #cc342b

! green
*.color2:       #198844
*.color10:      #198844

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #ac26ff
*.color13:      #ac26ff

! cyan
*.color6:       #1ff0f0
*.color14:      #1ff0f0

! white
*.color7:       #c5c8c6
*.color15:      #ffffff


! font

URxvt.font:     xft:DejaVu Sans Mono:style=Regular:pixelsize=15
URxvt.boldFont: xft:DejaVu Sans Mono:style=Bold:pixelsize=15

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintsfull
Xft.lcdfilter: lcddefault


!general
URxvt.saveLines: 100000

! testing
!*.background: 		0
!*.foreground:       7


! my original
URxvt*depth: 			32
URxvt*background: 		0
URxvt*foreground:       7


URxvt*scrollBar:        false
URxvt*scrollBar_right:  false

URxvt*internalBorder:   5
URxvt*externalBorder:   5

URxvt.perl-ext-common: 	default,clear,resize-font

URxvt.keysym.C-minus:    resize-font:smaller
URxvt.keysym.C-plus:     resize-font:bigger
URxvt.keysym.C-equal:    resize-font:reset
URxvt.keysym.C-question: reisze-font:show

!,clipboard,keyboard-select,url-select,clear

! Tab Color Custom:
!URxvt.tabbed.tabbar-fg: 15
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 0
!URxvt.tabbed.tab-bg: 3

! COPY PASTE
URxvt.copyCommand: 		xclip -i -selection clipboard
URxvt.pasteCommand: 	xclip -o -selection clipboard
URxvt.keysym.M-c: 		perl:clipboard:copy
URxvt.keysym.M-v: 		perl:clipboard:paste
URxvt.keysym.M-C-v: 	perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: 	perl:keyboard-select:activate
URxvt.keysym.M-s: 		perl:keyboard-select:search
URxvt.keysym.M-u: 		perl:url-select:select_next
URxvt.urlLauncher: 		chromium
URxvt.underlineURLs: 	true
URxvt.urlButton: 		1

! disable the stupid ctrl+shift 'feature'
URxvt.iso14755: false
URxvt.iso14755_52: false
